<.header class="my-4 border-b-4 border-amber-600">
  <h1 class="text-xl font-bold text-amber-800">作品集</h1>
</.header>

<%= for post <- @posts do %>
  <.link navigate={~p"/post/#{post}"}>
    {post.shooting_date}&nbsp;&nbsp;&nbsp{post.title}<br />
  </.link>
<% end %>
