<.header>
  {@post.title}
  <:actions>
    <.link href={~p"/admin/posts/#{@post.id}/edit"}>
      <.button>編輯</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="標題">{@post.title}</:item>
  <:item title="內容">{@post.content}</:item>
  <:item title="發布日">{@post.published_at}</:item>
  <:item title="拍攝日">{@post.shooting_date}</:item>
  <:item title="slug" class="font-mono">{@post.slug}</:item>
</.list>

<.back navigate={~p"/admin/posts"}>回上一頁</.back>
