<header
  class="p-4 sm:px-6 lg:px-8 dark flex justify-between item-center"
  style="background:#D4B8B4"
>
  <h1 class="text-3xl font-bold">後台管理</h1>
  <div class="flex items-center gap-3">
    <button
      id="menuToggle"
      class="md:hidden px-1 py-1 rounded-lg flex items-center gap-4 hover:bg-zinc-200"
    >
      🌓
    </button>
    <button
      id="menuToggle"
      class="md:hidden px-1 py-1 rounded-lg flex items-center gap-4 hover:bg-zinc-200"
    >
      ☰
    </button>
    <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
      <a
        href="https://hexdocs.pm/phoenix/overview.html"
        class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80"
      >
        登出<span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </div>
</header>

<div class="flex flex-1 relative">
  <!-- sidebar -->
  <aside class="fixed md:relative top-0 left-0 h-full w-64 bg-green dark:bg-gray-700 p-4 space-y-4 transform -translate-x-full md:translate-x-0 transition-transform duration-300 z-40 rounded-r-xl shadow-lg ">
    <nav>
      <ul class="space-y-2">
        <li>
          <a
            href={~p"/admin/categories"}
            class="block hover:bg-white rounded-xl px-2 py-1 dark:bg-gray-600"
          >
            分類總覽
          </a>
        </li>
        <li>
          <a
            href={~p"/admin/posts"}
            class="block hover:bg-white rounded-xl px-2 py-1 dark:bg-gray-600"
          >
            文章總覽
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  
<!-- main content-->
  <main class="flex-1 p-8 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl bg-white-200 dark:bg-gray-700 w-full">
      <.flash_group flash={@flash} />
      {@inner_content}
    </div>
  </main>
</div>
